body {
  height: 100vh;
  width: 100%;
  font-family: "CoM Regular", sans-serif;
}

#map {
  width: calc(100% - 200px);
  height: 100vh;
  float: left;
}

.sidebar {
  float: right;
  width: 200px;
}

.tags {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.tag label {
  line-height: 18px;
  padding: 7px 10px;
  display: block;
}

.tag input {
  margin-right: 10px;
}

.reset-tags {
  float: right;
}

.add-to-map {
  position: absolute;
  left: 20px;
  bottom: 20px;
  background: #b3b;
  color: white;
}

.show-my-comments {
  position: absolute;
  left: 100px;
  bottom: 20px;
  background: #b3b;
  color: white;
}

button {
  border: 1px solid #333;
  background: transparent;
}